<launch>

  <!-- Connect the robot to a keyboard teleop controller -->
  <node name="teleop_twist_keyboard" pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" output="screen" respawn="true"/>
  
  <!-- Launch GMapping -->
  <!-- <include file="$(find jackal_navigation)/launch/include/gmapping.launch" /> -->
  <arg name="scan_topic" default="$(eval optenv('JACKAL_LASER_TOPIC', 'front/scan'))" />
  <node pkg="slam_karto" type="slam_karto" name="slam_karto" output="screen">
    <remap from="scan" to="$(arg scan_topic)"/>
    <!-- Publishes the resulting map -->
    <remap from="map" to="map"/>
    <param name="odom_frame" value="odom"/>
    <param name="base_frame" value="base_link"/>
    <param name="map_frame" value="map"/>

    <param name="delta" value="0.015"/>
    <!-- Initial map size  -->
    <param name="xmin" value="-10.0"/>
    <param name="ymin" value="-10.0"/>
    <param name="xmax" value="10.0"/>
    <param name="ymax" value="10.0"/>
    <!-- Parameters for Karto -->
    <param name="init_pos_x" value="0"/>
    <param name="init_pos_y" value="0"/>
    <param name="init_pos_z" value="0"/>
    <param name="init_orient_r" value="0"/>
    <param name="init_orient_p" value="0"/>
    <param name="init_orient_y" value="0"/>
    
    <param name="use_scan_matching" value="true"/>
    <param name="use_scan_barycenter" value="false"/>
    <param name="minimum_travel_distance" value="0.1"/>
    <param name="minimum_travel_heading" value="0.05"/>
    <param name="scan_buffer_size" value="150"/>
    <param name="scan_buffer_maximum_scan_distance" value="20"/>
    <param name="link_match_minimum_response_fine" value="0.8"/>
    <param name="link_scan_maximum_distance" value="10"/>
    <param name="loop_search_maximum_distance" value="4.0"/>
    <param name="do_loop_closing" value="true"/>
    <param name="loop_match_minimum_chain_size" value="10"/>
    <param name="loop_match_maximum_variance_coarse" value="0.16"/>
    <param name="loop_match_minimum_response_coarse	" value="0.8"/>
    <param name="loop_match_minimum_response_fine	" value="0.8"/>


    <param name="correlation_search_space_dimension" value="0.3"/>
    <param name="correlation_search_space_resolution" value="0.01"/>
    <param name="correlation_search_space_smear_deviation" value="0.03"/>

    <param name="loop_search_space_dimension" value="8.0"/>
    <param name="loop_search_space_resolution" value="0.05"/>
    <param name="loop_search_space_smear_deviation" value="0.03"/>


    <param name="distance_variance_penalty" value="0.09"/>
    <param name="angle_variance_penalty	" value="0.1745"/>
    <param name="fine_search_angle_offset" value="0.0017"/>
    <param name="coarse_search_angle_offset" value="0.17"/>
    <param name="coarse_angle_resolution" value="0.017"/>
    <param name="minimum_angle_penalty" value="0.9"/>
    <param name="use_response_expansion" value="false"/>
  </node>
  
  
  <!-- Launch Rviz with our settings -->
  <node type="rviz" name="rviz" pkg="rviz" args="-d $(find me5413_world)/rviz/gmapping.rviz" output="log" respawn="true"/>

</launch>